{% extends "home/base.html" %}       
       {% block content %}
    <a href="/contact">Contact</a> ||
    <a href="/about">about</a>
    <table class="table table-striped">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote?</th>
  </tr>
  {% for person in people %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{person.name}}</td>
    <td>{{person.age}}</td>
    <td {% if person.age >= 18 %} style='color:green;' {% else %} style='color:red'{% endif %} >{% if person.age >= 18 %}
        yes
        {%else %}
        no
        {% endif %}
    </td>
  </tr>
    {% endfor %}
</table>


  {% endblock %}